[submodule "scripts"]
	path = scripts
	url = https://github.com/Digilent/digilent-vivado-scripts
[submodule "repo/vivado-library"]
	path = repo/vivado-library
	url = https://github.com/Digilent/vivado-library
